/* 
		_footer.scss
*/

/*
										---FOOTER---
*/


#footer{
	position: relative;
	//min-height: 150px;
	line-height: 170%;
	background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	z-index: 1;
	color: white;
	background-color: #1f1f1f;
	padding-top: 60px;
	padding-bottom: 60px;
}
.collapse-control{
	.text-2{
		display: none;
	}
	[class*="text-"]{
		//display: flex;
		//align-items: center;
		*{
			vertical-align: middle;
		}
	}
	[aria-expanded="true"]{
		.text-1{
			display: none;
		}
		.text-2{
			display: flex;
		}
	}
}
.footer-text{
	min-height: 90px;
	display: block;
	overflow: hidden;
}
.footer-main{
	margin-top: 30px;
	h4{
		font-size: em(18);
	}
}

.footer-menu{
	display: flex;
	width: 80%;
	@media (max-width: 991px){
		display: none;
	}
	.item{
		min-width: 25%;
		&:nth-child(1){
			font-size: em(18);
			font-weight: 600;
			li{
				margin-top: 12px;
				margin-bottom: 12px;
				color: white;
			}
		}
	}
	li{
		margin-top: 5px;
		margin-bottom: 5px;
		color: $color-gray-4;
	}
}
.footer-logo{
	@media (max-width: 991px){
		display: none;
	}
}
.footer-soc{
	ul{
		display: flex;
		margin-left: -5px;
		margin-right: -5px;
	}
	li{
		margin-left: 5px;
		margin-right: 5px;
		&:hover{
			svg{
				color: $color-1;
			}
		}
	}
}

.footer-info{
	p{
		color: $color-gray-4;
	}
	@media (max-width: 991px){
		text-align: left;
	}
}

.footer-feedback{
	margin-top: 40px;
	margin-bottom: 40px;
	p{
		line-height: 100%;
		small{
			color: $color-gray-5;
			font-size: 12px;
		}
	}
}

.copyright{
	color: $color-gray-5;
}



.copy-content{
	color: white;
	font-size: em(14);
	line-height: 150%;
	background-color: $color-1;
	display: flex;
	align-items: center;
	min-height: 70px;
	.color-1{
    
	}
}
.dev{
}
.map-canvas{
	height: 420px;
	width: 100%;
}
@media (max-width: 991px) {
	.map-canvas{
		height: 240px;
		width: 100%;
	}
}
